*{
   box-sizing: border-box;
}
:root{
   --primary: #2f4f4f;
   --dark: #141313;
   --light: #f8f5f5;
   --shadow: 0 0 4px #d3d3d3;
}
body{
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   background: var(--primary);
}
.container{
   width: 40%;
   margin: 60px auto;
   position: relative;
}
.header{
   margin-top: 20px;
   color: var(--dark);
   font-size: 1.5rem;
   font-family: cursive;
   color: var(--light);
}
.form{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 10px;
   padding: 30px;
   border-radius: 5px;
   box-shadow: var(--shadow);
}
.form-control input,
.form-control button{
   width: 100%;
   height: 40px;
   font-size: 18px;
   margin: 10px 0;
   border-radius: 5px;
}
label{
   font-size: 1.2rem;
   color: var(--light);
}
button{
   color: var(--light);
   background: var(--dark);
   border: none;
   cursor: pointer;
   
}
.form-control small{
   visibility: hidden;
}
.form-control small{
   color: var(--light);
   font-size: 13px;
}

@media (max-width: 1000px){
   .container{
      width: 70%;
   }
}